* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.navbar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 9px 15px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding-top: 3px;

}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    padding: 8px 12px;
    transition: background-color 0.2s ease;
}

.navbar ul li a:hover {
    background-color: #868585;
    border-radius: 25px;
}
